.message-box {
  display: flex;
  margin-top: 15px;
  min-height: 40px;
  background: #e9e8ed;
  border-radius: 25px;
}

.message-box span.message-text {
  display: inline-flex;
  width: 100%;
  align-items: center;
  line-height: 1.5;
  padding: 10px 25px;
  color: #71737b;
}

.message-underline span.message-name {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 25px;
  color: #007bff;
}
