<div>
    <div *ngFor="let room of rooms" (click)="joinRoom(room._id)" style="height: 30px; background: grey; margin-bottom:5px">{{room.title}}</div> 
  </div>
<div>
  <input type="text" placeholder="name" [(ngModel)]="name">
  <input type="text" placeholder="password" [(ngModel)]="password">
  <button (click)="login()">login</button>
  <button (click)="register()">register</button>
</div>
<div class="chat-container">  
  <div class="chat">
    <div class="chat__header">
      <span>hello its header</span>
    </div>
    <div class="chat__content">
      <app-message *ngFor="let message of messages" [name]="message.name" [text]="message.text"></app-message>
    </div>
    <div class="chat__footer">
      <div class="text-message">
        <input type="text" [(ngModel)]="text">
      </div>
      <div class="send-message">
        <button (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>
<div class="addroom">
  <span>add room</span>
  <input type="text" [(ngModel)]="addroom">
  <button (click)="addnewroom()"> addroom</button>
</div>

