:host {
    display: block;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title {
    margin-bottom: 15px;
}

.user-block {
    display: block;
    height: 30px;
    padding: 0 10px;
    border: 1px solid green;
}