<div class="main-container">
  <div class="fitler-input">
    <input type="text" placeholder="Filter by username" [(ngModel)]="filterField" (ngModelChange)="filter($event)">
  </div>


  <table class="users-table">
    <thead>
      <th appSort [array]="filteredUsers" [value]="'_id'" (setPage)=setPage(1)>ID</th>
      <th appSort [array]="filteredUsers" [value]="'username'" (setPage)=setPage(1)>username</th>
      <th appSort [array]="filteredUsers" [value]="'password'" (setPage)=setPage(1)>password</th>
      <th>edit</th>
      <th>delete</th>
    </thead>
    <tbody [@.disabled]="disabledAnimation">
      <tr *ngFor="let user of filteredUsers; let i = index" [@fadeOffAnimation]>
        <td>{{user._id | slice:0:8}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
          <mat-icon style="cursor: pointer" (click)="openAddUserModal(user)">mode_edit
          </mat-icon>
        </td>
        <td>
          <mat-icon style="cursor: pointer" (click)="deleteUser(user._id, i)">delete_sweep
          </mat-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="openAddUserModal()">ADD USER</button>

  <ul *ngIf="pager && pager.pages && pager.pages.length" class="pagination">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a class="page-link" (click)="setPage(page)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>
