.login {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 15vh;
}

.login__container {
  display: flex;
  flex-flow: column;
  padding: 15px 30px;
  width: 400px;
  height: 400px;
  background-color: #F2F5F8;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login__title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}

.login__subtitle {
  margin-bottom: 15px;
  font-size: 18px;
}

.login__form {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.login__username, .login__password {
  height: 100px;
  text-align: center;
  margin-bottom: 25px;
}

.login__input {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  outline: none;
  border: 1px solid #e0dfdf;
}

.login__input:focus {
  border: 2px solid #2dacf8;
}

.login__buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.login__button {
  background: #2b8cf1;
  height: 40px;
  border: none;
  color: white;
  padding: 0 30px;
  cursor: pointer;
}

.login__validate-message {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fa464d;
  margin-top: 2px;
}

.disabled {
  cursor: not-allowed !important;
}


.login__input.ng-pristine.ng-invalid.ng-touched {
  border: 2px solid #fa454d;
}

/* .alert {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
} */
