button {
  width: 130px;
  background: #007bff;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

input {
  padding-left: 15px;
  height: 30px;
  border: 2px solid #19aaff;
  width: 200px;
  border-radius: 8px;
}

.disabled {
  background: #b7c7cd;
  cursor: no-drop;
}

.btn-close {
  background: #f7b02d;
}
