<ng-container>
  <div class="header navbar ">
    <div class="menu">
      <div class="item1 item">
        <a
          class="nav-link"
          routerLink="/chat"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Chat
        </a>
      </div>
      <div class="item2 item">
        <a
          class="nav-link"
          routerLink="/user-control"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >User control
        </a>
      </div>
      <div class="item3 item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</ng-container>
