.header {
  min-height: 50px;
  background: #e0dffa;
  display: flex;
  flex-flow: row;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 63px -11px rgba(15, 15, 15, 1);
  -moz-box-shadow: 0px 0px 63px -11px rgba(15, 15, 15, 1);
  box-shadow: 0px 0px 63px -11px rgba(15, 15, 15, 1);
}

.menu {
  display: flex;
  flex-flow: row;
  width: 1240px;
  justify-content: space-between;
}

.item {
  width: 250px;
  min-width: 250px;
  cursor: pointer;
}

.nav-link {
  color: #4f87ca;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
